/* XTRadio Speicifc CSS Code
-------------------------------------------------------------- */

* {
	padding: 0;
	maring: 0;
}

#content {
	position: relative;
	width: 510px;
	height: 250px;
}

#albumart {
	position: fixed;
	width: 250px;
	height: 250px;
	float: left;
	z-index: -1;
	border: 1px solid #03789F;
	opacity:0.8;
	clear: both;
}

#artist {
    display: block;
    position: relative;
    text-align: center;
    color: #E9550F;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 15px;
    line-height: 35px;
    }

#artist a {
	color: #E9550F;
	text-decoration: none;
}

#title {
    position: relative;
    color: #03789F;
    padding-left: 10px;
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#share {
display: block;
position: relative;
float: right;
margin-right: 40px;
}

#announcement {
	margin-top: 0;

}

progress {
	-webkit-appearance: none;
   appearance: none;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: -10;
    height: 1px;
    margin-left: 6px;
    width: 504px;
    }

#show {
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#metadata {
    display: none;
    position: absolute;
    float: right;
    right: 0px;
    width: 254px;
    height: 250px;    
    }

#head-content {
	height: 256px;
}

#player {
	display: none;
        position: relative;
	float: left;
        width: 250px;
        height: 250px;
        z-index: 0;

}

#logo {
	float: right;
}

#logo-img {
	padding-top: 10px;
}

#remaining {
	display: none;
	width: 100%;
	height: 2px;
}

progress::-webkit-progress-bar {
  border-radius: 1px;
  box-shadow: 0 1px 1px rgb(3,120,159) inset;
        border-top: 0px solid #03789F;
        border-bottom: 0px solid #03789F;
        border-right: 1px solid #03789F;
	
}

progress::-webkit-progress-value {
    border-radius: 1px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    background: #03789F;
}

progress::-moz-progress-bar { 
background: #03789F;
    border-radius: 1px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
 
}

progress {
	color: #03789F;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

#social {
	position: absolute;
	bottom: 0;
	width: 256px;
        text-align: center;
}
